@media (prefers-color-scheme: dark) {
  .mainContentInConstruction {
    /* ? -- color pallet -- 123456789ABCDEF ? */
    --background-color-dark-Theme: #010101;
    --background-outline-color-dark-Theme: #101010;
    --font-color-dark-Theme: #d7d7d7;
    /* ? ------------------- ? */
    color: var(--font-color-dark-Theme);
    outline-color: var(--background-outline-color-dark-Theme);
    background-color: var(--background-color-dark-Theme);
  }
  .mainContentInConstruction header {
    outline-color: var(--background-outline-color-dark-Theme);
  }
}

@media (prefers-color-scheme: light) {
  .mainContentInConstruction {
    /* ? -- color pallet -- ? */
    --background-color-light-Theme: #fefefe;
    --background-outline-color-light-Theme: #efefef;
    --font-color-light-Theme: #292929;
    /* ? ------------------- ? */
    color: var(--font-color-light-Theme);
    outline-color: var(--background-outline-color-light-Theme);
    background-color: var(--background-color-light-Theme);
  }
  .mainContentInConstruction header {
    outline-color: var(--background-outline-color-light-Theme);
  }
}

.mainContentInConstruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  outline: 5px solid;
  margin: 0 auto;
  padding: 0;
  box-sizing: content-box;
}

/* ? == header part.. == ? */
.mainContentInConstruction header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 10px;
  gap: 5%;
  margin: 2%;
  padding: 10px;
  outline: 5px solid;
}

.mainContentInConstruction header div {
  display: flex;
  align-items: center;
  gap: 10%;
}

.mainContentInConstruction header div img {
  background-color: #000000;
  border-radius: 10px;
}

/* * -- label switch -- * */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* ? .switch:hover -- SUN ? */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ? .switch:hover -- MOON ? */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
/* * -------------------------------------------- * */

/* ? -------------------------------------------- ? */

/* ? == main part.. == ? */
.mainContentInConstruction main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.mainContentInConstruction main h1 {
  font-size: 50px;
}

.mainContentInConstruction main p {
  font-size: 80px;
}

/* ? -------------------------------------------- ? */
